.pd-content {
    padding: 0 20% 0 20%;
}

.mr-bottom-25 {
    margin-bottom: 25px;
}

.title-section {
    font-size: 28px;
    font-weight: bold;
    line-height: 150%;
}

.cl-back {
    background-color: #0971DC;
    color: #2a2a2a;
}