<div class="row">
    <div class="col-md-8 float-start">
        <div class="container-fluid">
            <a class="navbar-brand">{{pageTitle}}</a>
        </div>
    </div>
    <div class="col-md-4 float-start app-search">
        <div class="row">
            <div class="wth-search">
                <input type="text" class="form-control mt-0" placeholder="Search...">
                <a class="active search">
                    <i class="material-icons icon-sreach">search</i>
                </a>
            </div>
            <div class="wth-icon-more pd-icon text-center">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
            </div>
            <div class="wth-icon-more text-center mr-top-4">
                <img [src]="avatar" class="rounded-circle h-w-avatar">
            </div>
        </div>
    </div>
</div>